<!doctype html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/x-icon" href="/logo_piazzola.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Piazzola | Pizzas authentiques et savoureuses - Livraison rapide</title>
  <meta name="description"
    content="Découvrez Piazzola : des pizzas authentiques, artisanales et préparées avec des ingrédients frais. Commandez en ligne et profitez d'une livraison rapide et fiable dès aujourd'hui !">
  <link rel="preload" href="https://admin.la-piazzola.com/bannerImage/1.webp" as="image">
  <link href="https://admin.la-piazzola.com/bannerImage/4.webp" as="image">
  <link href="https://admin.la-piazzola.com/bannerImage/10.webp" as="image">
  <link href="https://admin.la-piazzola.com/bannerImage/7.webp" as="image">
  <link href="https://admin.la-piazzola.com/bannerImage/17.webp" as="image">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-RWEE4FZGDW"></script>
  <script defer>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-RWEE4FZGDW');
  </script>
  <script type="module" crossorigin src="/assets/index-BedEYsRv.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/vendor-gpPvsGIM.js">
  <link rel="stylesheet" crossorigin href="/assets/vendor-DUSJ2VnE.css">
  <link rel="stylesheet" crossorigin href="/assets/index-vYlshOZK.css">
</head>

<body>
  <div id="root"></div>
</body>

</html>